body{
  width: 435px;
  height: 60px;
  border-bottom: 1px solid #949494;
  border-top: 1px solid #949494;
  padding-bottom: 15px;
  margin-top: 7px;
}

.spritzed {
    padding: 30px;
    position: relative;
    font-size: 32px;
    color: #333333;
    margin-top: 11px;
    margin-bottom: 0px
}

.spritzed::before, .spritzed::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 13px;
    background-color: black;
    width: 1px;
    top: -11px;
    color: #333333;
}

.spritzed::after {
    top: auto;
    bottom: -15px;
}

.spritzed > div {
    position: absolute;
}

.highlight {
    color: #c00;
}

text{
	display: none;
}
